{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["airbnb/base"],
    "rules": {
        "semi": "off",
        "no-plusplus": "off",
        "eol-last": "off"
    }
}